@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 100px;
    margin: auto;
    background-color: rgb(34, 40, 97);
}

.logo {
    margin-right: auto;
    font-family: 'Roboto' arial;
    color: white;
    font-weight: 800;
}

.link {
    display: flex;
    margin-left: auto;
    gap: 15px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto' arial;
}
