@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 100px;
    margin: auto;
    background-color: rgb(22, 26, 63);
}

.logo {
    margin-right: auto;
    font-family: 'Roboto' arial;
    color: white;
    font-weight: 800;
}

.link {
    display: flex;
    margin-left: auto;
    gap: 15px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto' arial;
}

/* hero section */

.hero {
    display: flex;
    flex: 1;
    background-color: rgb(22, 26, 63);
    padding: 60px 100px;

}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
    color: white;
    text-align: left;
    margin-right: auto;
    
}


.hero-image img {
    height: 200px;
    width: 300px;
    
}

button {
    display: block;
    width: 100px;
    padding: 5px 15px;
    border-radius: 1.5em;
    border: none;
    border-style: none;
    background-color: rgb(221, 63, 57);
    font-family: 'roboto' arial;
    color: white;
    font-weight: 700;
}

/*content*/
